body {
  color: rgba(0, 0, 0, .5);
  font: sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  top: 15%;
  background: linear-gradient(to right, red, yellow);
}

ul {
  list-style: none;
}

.done {
  text-decoration: line-through;
}
