img {
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 0.5s;
}

img:hover {
  transform: scale(1.05)
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 3em;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  widt: 400px;
  text-align: center;
  box-shadow: 4px 4px 5px #888888;
}
