body {
  background-image: url("resources/background.jpg");
  background-size: cover;

}

h2 {
  color: #F5F5A8;
  text-align: center;
  border: 10px dashed rgba(159, 168, 56, 0.3);
  cursor: pointer;
}

p {
  color: #F5FBA8;
  border: 5px solid rgba(255, 170, 170, 0.7);
}

p:hover {
  background: red;
}

li {
  list-style: none;
  display: inline-block;
}

.first_class {
  color: red;
  border: 10px dashed rgba(100, 255, 170, 0.7);
}

.second_class {
  background: #AA4040;
  border: 2px solid rgba(100, 255, 170, 0.7);
}

#div1 {
  background: rgb(212, 173, 106);
}

#div2 {
  background: rgb(97, 81, 146);
}

#div2 > p {
  text-align: right
}

#div2 + p {
  background: rgb(100, 255, 170)
}

#textId {
  text-decoration: underline;
  /* text-transform: uppercase; */
  line-height: 50px;
  font-style: italic;
  font-weight: bold;
  font-size: 130%;
  font-family: "Inconsolata", "Georgia";
}
