h2 {
  color: green;
  background-color: red;
}

.boxmodel {
  border: 5px solid red;
  display: inline-block;
  padding: 20px;
  margin: 10px;
}

p {
  font-size: 20px
}

span {
  font-size: 5em; /* 5 times the enclosing size */
}
